<ng-image-slider *ngIf="imageList != undefined && imageList.length > 0"
    [images]="imageList" 
    [manageImageRatio]="keepratio"
    [imageSize]="{'width': '100%','height': height}"
></ng-image-slider>
<table *ngIf="fileList != undefined && fileList.length > 0">
    <tr *ngFor="let x of fileList">
        <td><a href="x.url">{{x.title}}</a></td>
    </tr>
</table>

