<div 
  *ngIf="showLoader"
  class="main_loader {{loaderWrapClassName}}"
>
  <div class="main_loader__loader {{loaderClassName}}">
    <span class="main_loader__spinner"></span>
    <span class="main_loader__spinner"></span>
    <span class="main_loader__spinner"></span>
  </div>
</div>
