<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
>
  <div class="auth p-4 p-md-0 m-auto">
    <div class="card o-hidden">
      <div class="row">

        <div class="col-12 d-flex justify-content-between align-items-center pr-4">
          <app-select-lang></app-select-lang>
          <app-color-scheme-select></app-color-scheme-select>
        </div>

        <div class="col-12">
          <div class="px-4">
            <div class="auth__logo text-center mb-3">
              <img src="../../../assets/img/logo.png" alt="" width="128px">
            </div>
            <h1 class="text-center mb-2">{{'TITLE_LOGIN_PANEL' | translate}}</h1>
            <form name="form" (ngSubmit)="f.form.valid && loginToService()" #f="ngForm" novalidate>
              <div class="form-group">
              <label for="login">{{'LOGIN_PANEL_LOGIN' | translate}}</label>
              <input type="email" class="form-control form-control-rounded" id="login" name="login" [(ngModel)]="model.login" #login="ngModel" [placeholder]="'EMAIL_EXAMPLE' | translate" required />
              </div>
              <div class="form-group">
              <label for="pass">{{'LOGIN_PANEL_PASS' | translate}}</label>
              <input type="password" class="form-control form-control-rounded" id="pass" name="pass" [(ngModel)]="model.pass" #pass="ngModel" [placeholder]="'PASS_EXAMPLE' | translate" required />
              </div>
              <button 
				id="login_button"
                class="btn btn-primary btn-rounded btn-block mt-3"
                [disabled]="loading"
            >{{'LOGIN_PANEL_LOGIN_BUTTON' | translate}}</button>
            </form>
          
            <button 
              class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn mt-2"
              [routerLink]="['/register']"
            >
            {{'LOGIN_PANEL_REGISTER_BUTTON' | translate}}
            </button>
           
            <div class="my-3 text-center">
              <a 
                class="text-muted fz-0_8rem"
                [routerLink]="['/reset']"
              >{{'LOGIN_PANEL_PASS_RESET_BUTTON' | translate}}</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
