<div 
  class="menu-btn justify-content-center" 
  [style.width.px]="50"
  id="lang_select_btn" 
  (click)="langDropdownOpen = !langDropdownOpen"
>
  <p class="m-0">
    <img src="../../assets/img/flags/{{selectedLang}}-flag.jpg" alt="" class="lang_flag mr-2">
    <span>{{ langs[selectedLang]?.name | uppercase}}</span>
  </p>
</div>

<div
  class="header-right__dropdown dropdown langs-dropdown py-2 px-1"
  id="lang_select_dropdown"
  [ngClass]="{
    'dropdown-open': langDropdownOpen
  }"
>
  <p
    *ngFor="let x of (langs | objectEntries)"
    (click)="setLanguage(x[0])"
    class="text-center px-4 py-1 m-0 lang-btn"
  >
    <img src="../../assets/img/flags/{{x[0]}}-flag.jpg" alt="" class="lang_flag mr-2">
    <span>{{ x[1].name | uppercase}}</span>
  </p>
</div>
