<div class="row">

  <div class="col-12 col-lg-4  d-flex justify-content-center align-items-start justify-content-lg-start">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goToPrev()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </button>
      <button 
        class="btn btn-outline-secondary"
        (click)="goToToday()"
      >
        {{configI18n.today | translate}}
      </button>
      <button class="btn btn-primary" (click)="goToNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </button>
    </div>
  </div>

  <header  class="col-12 col-lg-4 calendar_period px-lg-0">
    <h2 
      *ngIf="viewMode === 'month'"
      class="text-center"
    >{{monthesName[month] | translate}} {{year}}</h2>
    <h2 
      *ngIf="viewMode === 'week'"
      class="text-center"
    >{{ '' | weekCalendarHeader : year : month : day}}</h2>
    <h2 
      *ngIf="viewMode === 'day'"
      class="text-center"
    >{{day}} {{monthesName[month] | translate}} {{year}}</h2>
  </header>

  <div class="col-12 col-lg-4 d-flex justify-content-center align-items-start justify-content-lg-end">
    <div class="btn-group">
      <button 
        class="btn"
        [ngClass]="{
          'btn-primary': viewMode === 'month',
          'btn-outline-primary': viewMode !== 'month'
        }"
        (click)="viewMode = 'month'"
      >
        {{configI18n.month | translate}}
      </button>
      <button 
        class="btn"
        [ngClass]="{
          'btn-primary': viewMode === 'week',
          'btn-outline-primary': viewMode !== 'week'
        }"
        (click)="viewMode = 'week'"
      >
        {{configI18n.week | translate}}
      </button>
      <button 
        class="btn"
        [ngClass]="{
          'btn-primary': viewMode === 'day',
          'btn-outline-primary': viewMode !== 'day'
        }"
        (click)="viewMode = 'day'"
      >
        {{configI18n.day | translate}}
      </button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-12 py-5">
    <glp-calendar-month-view
      *ngIf="viewMode === 'month'"
      [year]="year"
      [month]="month"
      [day]="day"
      [events]="events | monthEventsFilter : year : month"
      [configI18n]="configI18n"
      (OnCeilClick)="onCeilClick($event)"
    ></glp-calendar-month-view>
    <glp-calendar-week-view
      *ngIf="viewMode === 'week'"
      [year]="year"
      [month]="month"
      [day]="day"
      [events]="events | weekEventsFilter : year : month : day"
      [configI18n]="configI18n"
      (OnCeilClick)="onCeilClick($event)"
    ></glp-calendar-week-view>
    <glp-calendar-day-view
      *ngIf="viewMode === 'day'"
      [year]="year"
      [month]="month"
      [day]="day"
      [events]="events | dayEventsFilter : year : month : day"
      [configI18n]="configI18n"
      (OnCeilClick)="onCeilClick($event)"
    ></glp-calendar-day-view>
  </div>
</div>


<ng-template #viewEventsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{(viewEventsModel ? newDate(viewEventsModel.year, viewEventsModel.month, viewEventsModel.day) : '') | date : 'dd.MM.yyyy'}}</h4>
    <button type="button" class="btn-close not-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div 
      *ngIf="viewMode !== 'day'"
      class="row mb-5"
    >
      <div class="col-12">
        <button 
          *ngIf="viewMode === 'month'"
          class="btn btn-primary mr-2"
          (click)="goToViewMode('week')"
        >{{ configI18n.viewWeek | translate }}</button>
        <button 
          class="btn btn-primary"
          (click)="goToViewMode('day')"
        >{{ configI18n.viewDay | translate }}</button>
      </div>
    </div>

    <div class="row">
      
      <div class="col-12">
        <button 
          class="btn btn-success mb-3"
          (click)="openEventEditorModal()"
        >{{ configI18n.add | translate }}</button>
      </div>

      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let e of viewEventsModel?.events || []; let idx = index">
                <th scope="row">{{ idx + 1 }}</th>
                <td>
                  <div 
                    class="circle"
                    [style.background-color]="e.color"
                  ></div>
                </td>
                <td>
                  <span>{{ e.title }}</span>
                </td>
                <td>
                  <span>
                    {{ 
                      e.periodType === 'timerange' 
                        ? (e.from | date : 'HH:mm dd.MM.yyyy') + ' - ' + (e.to | date : 'HH:mm dd.MM.yyyy')
                        : e.periodType === 'daterange' 
                          ? (e.from | date : 'dd.MM.yyyy') + ' - ' + (e.to | date : 'dd.MM.yyyy') 
                          : e.periodType === 'time' 
                            ? (e.from | date : 'HH:mm dd.MM.yyyy') 
                            : (e.from | date : 'dd.MM.yyyy')
                    }}
                  </span>
                </td>
                <td style="white-space: nowrap;">
                  <button 
                    class="btn btn-info mr-1"
                    (click)="openEventEditorModal(e.id)"
                  >{{ configI18n.edit | translate }}</button>
                  <button 
                    class="btn btn-danger"
                    (click)="openConfirmRemoveEventModal(e.id)"
                  >{{ configI18n.remove | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</ng-template>


<ng-template #confirmRemoveEventModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ configI18n.removeConfirmHeader | translate }}</h4>
    <button type="button" class="btn-close not-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-6">
        <button 
          class="btn btn-danger btn-block"
          (click)="removeEvent()"
        >{{ configI18n.removeConfirmRemove | translate }}</button>
      </div>

      <div class="col-6">
        <button class="btn btn-info btn-block" (click)="modal.dismiss('Cross click')">{{ configI18n.removeConfirmReset | translate }}</button>
      </div>

    </div>
  </div>
</ng-template>


<ng-template #eventEditorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ configI18n.eventEditor | translate }}</h4>
    <button type="button" class="btn-close not-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label for="title">{{ configI18n.title | translate }}</label>
          <input 
            type="text" 
            class="form-control"
            id="title"
            [(ngModel)]="eventEditorModel!.title"
            (blur)="touchTitleInput()"
          >
          <p 
            class="text-danger"
            *ngIf="titleInputTouched && !eventEditorModel!.title?.length"
          >{{ configI18n.titleWarning | translate }}</p>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="title">{{ configI18n.color | translate }}</label>
          <input 
            type="text" 
            class="form-control"
            id="title"
            [(ngModel)]="eventEditorModel!.color"
            [style.background]="eventEditorModel!.color" 
            [(colorPicker)]="eventEditorModel!.color"
          >
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label 
            class="radio radio-primary"
          >
            <input 
              type="radio" 
              name="periodType"
              value="date"
              [(ngModel)]="eventEditorModel!.periodType" 
            />

            <span>{{ configI18n.radioDate | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label 
            class="radio radio-primary"
          >
            <input 
              type="radio" 
              name="periodType"
              value="time"
              [(ngModel)]="eventEditorModel!.periodType" 
            />

            <span>{{ configI18n.radioTime | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label 
            class="radio radio-primary"
          >
            <input 
              type="radio" 
              name="periodType"
              value="daterange"
              [(ngModel)]="eventEditorModel!.periodType" 
            />

            <span>{{ configI18n.radioDaterange | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label 
            class="radio radio-primary"
          >
            <input 
              type="radio" 
              name="periodType"
              value="timerange"
              [(ngModel)]="eventEditorModel!.periodType" 
            />

            <span>{{ configI18n.radioTimerange | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

    </div>

    <div 
      *ngIf="eventEditorModel!.periodType === 'date'"
      class="row"
    >
      <div class="col-12">
        <div class="form-group">
          <label for="date">{{ configI18n.date | translate }}</label>
          <glp-date 
            inputId="date"
            [model]="dateToString(eventEditorModel!.from)"
            (modelChange)="setEventEditorModelDate($event)"
          ></glp-date>
        </div>
      </div>
    </div>

    <div 
      *ngIf="eventEditorModel!.periodType === 'time'"
      class="row"
    >
      <div class="col-12">
        <div class="form-group">
          <label for="time">{{ configI18n.time | translate }}</label>
          <glp-datetime
            inputId="time"
            [model]="dateToString(this.eventEditorModel!.from)"
            (modelChange)="setEventEditorModelTime($event)"
          ></glp-datetime>
        </div>
      </div>
    </div>

    <div 
      *ngIf="eventEditorModel!.periodType === 'daterange'"
      class="row"
    >

      <div class="col-6">
        <div class="form-group">
          <label for="daterange_from">{{ configI18n.dateFrom | translate }}</label>
          <glp-date 
            inputId="daterange_from"
            [model]="dateToString(eventEditorModel!.from)"
            (modelChange)="setEventEditorModelDateFrom($event)"
          ></glp-date>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="daterange_to">{{ configI18n.dateTo | translate }}</label>
          <glp-date 
            inputId="daterange_to"
            [model]="dateToString(eventEditorModel!.to)"
            (modelChange)="setEventEditorModelDateTo($event)"
          ></glp-date>
        </div>
      </div>

    </div>

    <div 
      *ngIf="eventEditorModel!.periodType === 'timerange'"
      class="row"
    >

      <div class="col-6">
        <div class="form-group">
          <label for="timerange_from">{{ configI18n.dateFrom | translate }}</label>
          <glp-datetime
            inputId="timerange_from"
            [model]="dateToString(this.eventEditorModel!.from)"
            (modelChange)="setEventEditorModelTimeFrom($event)"
          ></glp-datetime>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="timerange_to">{{ configI18n.dateTo | translate }}</label>
          <glp-datetime
            inputId="timerange_to"
            [model]="dateToString(this.eventEditorModel!.to)"
            (modelChange)="setEventEditorModelTimeTo($event)"
          ></glp-datetime>
        </div>
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-12">
        <button 
          class="btn btn-success btn-block"
          (click)="saveEvent()"
          [disabled]="!eventEditorModel!.title?.length"
        >{{ configI18n.save | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>