<button 
  type="button"
  class="btn {{modalOpenerClass}}"
  (click)="openUploadModal()"
>
  {{uploadBtnText}}
</button>

<ng-template #uploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Załaduj zjęcie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row d-flex flex-column align-items-center">

      <div class="col-12">
        <button 
          class="btn {{uploadBtnClass}}"
          type="button"
          (click)="uploadAndCompress()"
        >{{uploadBtnText}}</button>
        <!-- <label for="br-file">
          <span class="btn {{uploadBtnClass}}">{{uploadBtnText}}</span>
        </label>
        <input 
          type="file" 
          (change)="fileChangeEvent($event)" 
          name="br-file"
          id="br-file"
          class="d-none"
        /> -->
      </div>

      <div class="col-8">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [imageURL]="imageURL"
          format="png,jpeg"
          [cropperMinWidth]="100"
          [cropperMinHeight]="100"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>

    </div>

    <div class="row d-flex justify-content-around mt-3">

      <div class="col-4">
        <img 
          [src]="croppedImage" 
          class="w-100"
        />
      </div>

      <div class="col-4">
        <img 
          [src]="croppedImage" 
          class="w-100"
          style="border-radius: 50%;"
        />
      </div>

    </div>

    <div 
      class="row mt-3"
      *ngIf="croppedImage"
    >

      <div 
        class="col-12 d-flex justify-content-center"
        *ngIf="loading"
      >
        <div class="spinner spinner-primary"></div>
      </div>

      <div 
        class="col-12 d-flex justify-content-end"
        *ngIf="!loading"
      >
        <button 
          type="button"
          class="btn {{saveBtnClass}}"
          [disabled]="loading" 
          (click)="upload()"
        >{{saveBtnText}}</button>
      </div>

    </div>
  </div>
</ng-template>