<div class="g-tag d-inline-flex align-items-center px-2 py-1 mr-3 mt-1 {{className}}">
  <div class="g-tag__content p-1">
    <span>{{text}}</span>
  </div>
  <div 
    *ngIf="letClose"
    class="g-tag__close p-1"
    (click)="close()"
  >&times;</div>
</div>