.lift {
	transition: box-shadow .25s ease, transform .25s ease
}

.lift:focus,
.lift:hover {
	box-shadow: 0 1rem 2.5rem rgba(18, 38, 63, .1), 0 .5rem 1rem -.75rem rgba(18, 38, 63, .1)!important;
	transform: translate3d(0, -3px, 0)
}

.lift-lg:focus,
.lift-lg:hover {
	box-shadow: 0 2rem 5rem rgba(18, 38, 63, .1), 0 .5rem 1rem -.75rem rgba(18, 38, 63, .05)!important;
	transform: translate3d(0, -5px, 0)
}
