<main class="container-fluid dashboard main__content">
	<div class="row mb-4">
		<div class="col-12">
      <div class="d-block d-md-none">
        <h1>{{'ADMINISTRATOR_DASHBOARD_TITLE' | translate}}</h1>
        <hr>
      </div>

			<div class="row">

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_1' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_2' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                    <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_3' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
            <div class="card dashboard-card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                  <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                  <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_4' | translate}}</h2>
                  <p class="mt-2 text-orange d-flex card-count">
                  <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
                </div>
              </div>
            </div>
          </div>
  

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_5' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_6' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <div class="card dashboard-card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_7' | translate}}</h2>
                <p class="mt-2 text-orange d-flex card-count">
                <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-3">
            <div class="card dashboard-card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                	 <i class="fas fa-balance-scale" style="font-size: 2rem;"></i>
                  <h2 class="mt-1 text-inverse card-title fz-1_5rem">{{'ADMINISTRATOR_DASHBOARD_OPTION_8' | translate}}</h2>
                  <p class="mt-2 text-orange d-flex card-count">
                  <span>0</span><span class="fz-1rem mx-2">/</span><span>0</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
  
        

      </div>
    </div>
  </div>
  <div>
    <app-map (positionChanged)="onPositionChanged($event)"></app-map>
  </div>
</main>
