<a 
  *ngIf="data.linkTo; else navDiv"
  [routerLink]="data.linkTo"
  class="nav__link"
  (mouseover)="pushSubLinks()"
  (click)="changeSelectedKey(data.sub.length ? data.title : '')"
>
  <i
  [class]="data.iconClass || defaultIconClass"
  ></i>
  <span>{{data.title | translate}}</span>
</a>

<ng-template #navDiv>
  <div
    class="nav__link"
    (mouseover)="pushSubLinks()"
    (click)="changeSelectedKey(data.title)"
  >
    <i
      [class]="data.iconClass || defaultIconClass"
    ></i>
    <span>{{data.title | translate}}</span>
  </div>
</ng-template>

<div 
  class="card-inset py-2 mx-2 mb-1 mobsubmenu d-md-none"
  *ngIf="selectedKey && selectedKey === data.title && data.sub.length"
>
  <ul class="mobsubmenu__ul">
    <li 
      class="mobsubmenu__item"
      *ngFor="let s of data.sub"
    >
      <a 
        [routerLink]="formatLinkTo(s.linkTo)" 
        class="mobsubmenu__link"
        (click)="changeSelectedKey('')"
      >
        <i class="i-Library"></i> 
        <span>{{ s.title | translate }}</span>
      </a>
    </li>
  </ul>
</div>
