<div class="input-group">
    <input
      class="form-control"
      placeholder="yyyy-mm-dd"
      [(ngModel)]="date_model"
      (ngModelChange)="changed()"
      (click)="focusEmmit()"
      name="dp"
      ngbDatepicker
      #d="ngbDatepicker"
      readonly
    />
    <div class="input-group-append">
      <button
        class="btn btn-primary btn-outline-secondary calendar"
        (click)="d.toggle()"
        type="button"
        #calendarBtn
      >
        <i class="i-Calendar"></i>
      </button>
    </div>
  </div>
  