<div class="langs">
  <button 
    *ngFor="let x of (langs | objectEntries)"
    class="langs__item"
    type="button"
    [class.selected]="selectedLang === x[0]"
    (click)="setLanguage(x[0])"
  >
    <img src="../../../assets/img/flags/{{x[0]}}-flag.jpg" [id]="'flag_' + x[0]" alt="">
    <span>{{ x[0] | uppercase }}</span>
  </button>
</div>
