<nav 
  class="g-pag"
  *ngIf="!(hideWhenOnePage && total_pages <= 1)"
>
  <ul class="pagination justify-content-center mb-0">
    <li 
    *ngIf="model.pagination.start_page <= 0"
      class="page-item disabled"
    >
      <a class="byepagination_btn" aria-disabled="false">{{'SHURIKEN_PREVIOUS_BUTTON' | translate}}</a>
    </li>
    <li 
      class="page-item"
      *ngIf="model.pagination.start_page > 0"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page-1)
        }"
        aria-disabled="false"
      >{{'SHURIKEN_PREVIOUS_BUTTON' | translate}}</a>
    </li>
    <li 
      class="btn-link d-none d-sm-inline-block"
      *ngIf="model.pagination.start_page > 2"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(0)
        }"
      >{{1}}</a>
    </li>
    <li 
      class="page-item d-none d-sm-inline-block"
      *ngIf="model.pagination.start_page > 3"
    ><a class="byepagination_btn" aria-disabled="false">...</a></li>
    <li 
      class="btn-link d-none d-md-inline-block"
      *ngIf="model.pagination.start_page > 1"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page-2)
        }"
      >{{model.pagination.start_page-1}}</a>
    </li>
    <li 
      class="btn-link d-none d-sm-inline-block"
      *ngIf="model.pagination.start_page > 0"
    >
      <a 
        class="byepagination_btn d-none d-sm-inline-block" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page-1)
        }"
      >{{model.pagination.start_page}}</a>
    </li>

    <li class="page-item">
      <a class="byepagination_btn" aria-disabled="false">{{model.pagination.start_page + 1}}</a>
    </li>

    <li
       class="btn-link d-none d-sm-inline-block"
      *ngIf="total_pages - (model.pagination.start_page + 1) > 0"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page+1)
        }"
      >{{model.pagination.start_page + 2}}</a>
    </li>
    <li 
      class="btn-link d-none d-md-inline-block"
      *ngIf="total_pages - (model.pagination.start_page + 2) > 0"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page+2)
        }"
      >{{model.pagination.start_page + 3}}</a>
    </li>
    <li 
      class="page-item d-none d-sm-inline-block"
      *ngIf="total_pages - (model.pagination.start_page + 4) > 0"
    ><a class="byepagination_btn" aria-disabled="false">...</a></li>
    <li 
      class="btn-link d-none d-sm-inline-block"
      *ngIf="total_pages - (model.pagination.start_page + 3) > 0"
    >
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(total_pages-1)
        }"
      >{{total_pages}}</a>
    </li>
    <li *ngIf="model.pagination.start_page < total_pages - 1" class="page-item">
      <a 
        class="byepagination_btn" 
        [routerLink]="route"
        [queryParams]="{
          'query': getQuery(model.pagination.start_page+1)
        }"
        aria-disabled="false"
      >{{'SHURIKEN_NEXT_BUTTON' | translate}}</a>
    </li>

    <li *ngIf="model.pagination.start_page >= total_pages - 1" class="page-item disabled">
      <a class="byepagination_btn" aria-disabled="false">{{'SHURIKEN_NEXT_BUTTON' | translate}}</a>
    </li>
  </ul>
</nav>