<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
  style="background: url({{basic.baseUrl}}/assets/img/bg.jpg);"
>
  <div class="auth p-4 p-md-0 m-auto">
    <div 
      class="card o-hidden"
    >
      <div class="card-body">
        <div class="row">
          
          <div 
            class="col-12"
          >
            <h1 class="text-danger text-center unfinished_registration__header">Twoje konto nie aktywne</h1>
            <h2 class="text-danger text-center unfinished_registration__subheader">Nie przyszedł link?</h2>
            <button class="btn btn-default btn-block">Wyśli link jeszcze raz</button>
            <a 
              class="text-muted btn-block text-center"
              [routerLink]="['/login']"
            >Powrót</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>