<div 
  class="auth-layout d-flex flex-column justify-content-center align-items-center" 
>
  <div class="auth p-4 p-md-0 m-auto">
    <form class="card o-hidden" name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm" novalidate>
      <div class="row">

        <div class="col-12 d-flex justify-content-between align-items-center pr-4">
          <app-select-lang></app-select-lang>
          <app-color-scheme-select></app-color-scheme-select>
        </div>
        
        <div class="col-12">
          <div class="p-4">
          <div class="auth__logo text-center mb-3">
            <img src="../../../assets/img/logo.png" alt="" width="128px">
          </div>
          <h1 class="text-center mb-2">{{'TITLE_RESET_PASS_PANEL' | translate}}</h1>
          <form>
            <div class="form-group">
            <label for="login">{{'PASS_RESET_PANEL_RESET_LOGIN' | translate}}</label>
            <input type="text" class="form-control form-control-rounded" id="login" name="login" [(appPhone)]="model.login" placeholder="+48XXXXXXXXX albo XXXXXXXXX" />
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-rounded btn-block mt-3">{{'RESET_PASS_PANEL_RESET_PASS_BUTTON' | translate}}</button>
            <button 
              class="btn btn-rounded btn-outline-info btn-block btn-icon-text auth__btn" 
              [routerLink]="['/register']"
            >
              {{'RESET_PASS_PANEL_REGISTER_BUTTON' | translate}}
            </button>
          </form>
          <div class="mt-3 text-center">
            <a 
              href="#" 
              class="text-muted fz-0_8rem" 
              [routerLink]="['/login']"
            >{{'RESET_PASS_PANEL_LOGIN_BUTTON' | translate}}</a>
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
