<div class="byeeditor byeeditor-{{helper[key]?.valid}}">
  <quill-editor 
    [(ngModel)]="model[key]" 
    (ngModelChange)="onModelChanged($event);" 
    (input)="onInput($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [disabled]="disable"
    [placeholder]="placeholder"
  ></quill-editor>
</div>