@import "../../../assets/styles/mat-skin/constants.scss";


.mat_layout_header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: $mainColor;
  padding: .75rem;
  height: 60px;
  color: $mainReverseColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  transition: all .3s ease-in-out;
  box-shadow: 
    0px 2px 3px 0px rgba(68, 68, 68, .7),
    0px 4px 8px 2px rgba(68, 68, 68, .3);

  &__left,
  &__right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__title h1 {
    font-size: .9rem;
    margin-bottom: 0;
  }
}

.mat_layout_header_menu_btn {
  padding: .375rem;
  width: 34px;
  height: 28px;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  color: $mainReverseColor;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: .25rem;

  > span {
    width: 100%;
    height: 2px;
    background-color: $mainReverseColor;
  }
}

.mat_layout_header_logo {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }
}

.mat_layout_header_other_btn {
  padding: .375rem;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  color: $mainReverseColor;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: .25rem;

  > span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $mainReverseColor;
  }
}

.mat_layout_header_dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: .75rem;
  right: .75rem;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $mainReverseColor;
  overflow: hidden;
  border-radius: .125rem;
  z-index: 125;
  box-shadow: 
    0px 2px 3px 0px rgba(68, 68, 68, .7),
    0px 4px 8px 2px rgba(68, 68, 68, .3);
  animation: hideDropdown 0.3s ease-in-out;

  &-dropdown_open {
    display: flex;
    transform: translate(0);
    animation: showDropdown 0.3s ease-in-out;
  }

  &__item {
    width: 100%;
  }

  &__btn,
  &__link {
    display: inline-flex;
    padding: .5rem 1.25rem;
    font-size: .8rem;
    margin: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #444;
    transition: .2s;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: rgba(68, 68, 68, .1);
    }
  }
}

.mat_layout_menu_backout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(68, 68, 68, .5);
  opacity: 0;
  display: none;
  z-index: 150;
  animation: hideMenuBackout 0.3s ease-out;

  &-menu_open {
    opacity: 1;
    animation: showMenuBackout 0.3s ease-out;
    display: block;
  }
}

.mat_layout_menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  height: 100vh;
  padding: 0;
  background-color: $mainColor;
  box-shadow: 
    2px 0px 3px 0px rgba(68, 68, 68, .7),
    4px 0px 8px 2px rgba(68, 68, 68, .3);
  transform: translate(-150%);
  z-index: 200;
  animation: hideMenu 0.3s ease-in-out;

  &-menu_open {
    transform: translate(0);
    animation: showMenu 0.3s ease-in-out;
  }

  &__list {
    border-bottom: 2px solid #065;
    list-style: none;
    padding: .25rem 0;
    margin: 0;
  }

  &__item {
    width: 100%;
    height: 45px;

    &-lg {
      height: 60px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .25rem .5rem;
    border: 0;
    outline: 0;
    box-shadow: none;
    background-color: transparent;
    transition: .2s ease-in-out;

    &-logo {
      justify-content: center;
    }

    &.active,
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $secondColor;

      .mat_layout_menu__icon,
      .mat_layout_menu__text {
        color: $mainColor;
      }
    }
  }

  &__logo {
    width: auto;
    height: auto;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }

  &__icon {
    width: 30px;
    height: 100%;
    font-size: 1.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondColor;
    transition: .2s ease-in-out;
  }

  &__text {
    margin-left: .5rem;
    color: $mainReverseColor;
    font-size: 1rem;
    font-weight: 500;
    transition: .2s ease-in-out;
  }
}

.mat_layout_submenu {
  position: fixed;
  top: 59px;
  right: 0;
  width: 100vw;
  height: 37px;
  background-color: $mainColor;
  z-index: 75;
  box-shadow: 
    0px 2px 3px 0px rgba(68, 68, 68, .7),
    0px 4px 8px 2px rgba(68, 68, 68, .3);
  transition: all .3s ease-in-out;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    height: 100%;
  }

  &__link {
    font-size: .8rem;
    padding: .5rem .75rem .625rem .75rem;
    color: #7AC8C0;
    position: relative;
    display: inline-flex;
    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      background-color: $secondColor;
    }

    &.active {
      color: $mainReverseColor;

      &::after {
        height: 3px;
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $mainReverseColor;

      &::after {
        height: 3px;
      }
    }
  }
}

.mat_layout_main {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  padding: .75rem 0;
  background-color: #eee;
  transition: all .3s ease-in-out;

  &-has_subs {
    min-height: calc(100vh - 97px);
    margin-top: 97px;
  }
}


@media (min-width: 576px) {

  .mat_layout_menu {
    width: 66.6667vw;
  }
}

@media (min-width: 768px) {
  
  .mat_layout_menu {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  
  .mat_layout_menu {
    width: 33.3333vw;
  }
}

@media (min-width: 1200px) {

  .mat_layout_header-menu_open,
  .mat_layout_submenu-menu_open {
    left: auto;
    width: 75vw;
  }
  
  .mat_layout_menu_backout {
    display: none;
  }

  .mat_layout_menu {
    width: 25vw;
  }

  .mat_layout_main-menu_open {
    margin-left: 25vw;
  }
}

@media (min-width: 1400px) {

  .mat_layout_header-menu_open,
  .mat_layout_submenu-menu_open {
    width: 80vw;
  }
  
  .mat_layout_menu {
    width: 20vw;
  }

  .mat_layout_main-menu_open {
    margin-left: 20vw;
  }
}

@keyframes showMenu {
  0% {
    display: block;
    transform: translate(-150%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes hideMenu {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-150%);
    display: none;
  }
}

@keyframes showMenuBackout {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideMenuBackout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes showDropdown {
  0% {
    display: flex;
    transform: translateY(-150%) scaleY(0);
    opacity: 0;
  }

  100% {
    transform: translate(0) scaleY(1);
    opacity: 1;
  }
}

@keyframes hideDropdown {
  0% {
    transform: translate(0) scaleY(1);
    opacity: 1;
  }

  100% {
    transform: translate(-150%) scaleY(1);
    opacity: 0;
    display: none;
  }
}
