<div class="input-group datetime-wrap">
    <div 
      class="fake-input"
      (click)="openDrop()"
      #fakeInput
    >
      <span *ngIf="model">{{model[key] || 'yyy-mm-dd hh:mm'}}</span>
    </div>
    <div 
      class="input-group-append"
      #calendarBtnWrap
    >
      <button 
        class="btn btn-default btn-outline-secondary calendar" 
        type="button"
        #calendarBtn
        (click)="openDrop()"
      >
        <i class="i-Calendar"></i>
      </button>
    </div>
    
    <div 
      class="drop border rounded-sm"
      [ngClass]="{
        'drop-bottom': dropPosY === 'top',
        'drop-top': dropPosY === 'bottom',
        'drop-right': dropPosX === 'right',
        'drop-left': dropPosX === 'left'
      }"
      *ngIf="showDrop"
      #drop
    >
      <div class="drop-header d-flex justify-content-end p-1 border-bottom">
        <button 
          type="button" 
          class="close" 
          aria-label="Close" 
          (click)="showDrop = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="drop-body p-1 d-flex flex-column align-items-center">
        <ngb-timepicker 
          [disabled]="disable" 
          [ngModel]="hour_model" 
          (ngModelChange)="timeChanged($event)"
          lang="pl-Pl" 
        ></ngb-timepicker>
        <ngb-datepicker 
          [disabled]="disable" 
          #d 
          [ngModel]="date_model" 
          lang="pl-Pl" 
          (ngModelChange)="dateChanged($event)"
        ></ngb-datepicker>
      </div>
    </div>
</div>
