<main class="container-fluid main__content">
	<div class="row mb-4">

		<!-- Header -->
		<div class="col-12 d-md-none">
			<h1>{{title | translate}}</h1>
			<hr>
		</div>

		<!-- Search and view switching form -->
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="w-100">
						<form>
							<div class="row">
								<div class="col-12 col-md-4 col-xl-3">
									<bye-button [loading]="loading" className="btn btn-primary" typeName="button" (OnClick)="search()">
										<i class="i-Magnifi-Glass1"></i>
									</bye-button>
									<button *ngIf="model.pagination.mode !== 'grid'" class="btn btn-primary ml-1" (click)="setViewMode('grid')">
										<icon-grid></icon-grid>
									</button>
									<button *ngIf="model.pagination.mode !== 'list'" class="btn btn-primary ml-1" (click)="setViewMode('list')">
										<icon-list></icon-list>
									</button>
									<a 
										routerLink="/product_editor"
										class="btn btn-success ml-1"
									>
										<i class="fas fa-plus"></i>
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">

			<!-- When we have data describing the list -->
				<ng-container  *ngIf="list?.length > 0; else noDataFound">
				<!-- Tile version -->

				<div *ngIf="model.pagination.mode === 'grid'" class="w-100">
					<form class="">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3" *ngFor="let x of list">
								<div class="card fz-0_8rem w-100 h-100">
									<div class="card-body">
										<p class="card-text d-flex justify-content-between mb-2"><b>{{ 'LIST_OF_PRODUCTS_PRODUCT_NAME_TABLE_HEADER' | translate }}:</b><span>{{ x.product_name || '-' | translate}}</span></p>
										<p class="card-text d-flex justify-content-between mb-2"><b>{{ 'LIST_OF_PRODUCTS_CENA_TABLE_HEADER' | translate }}:</b><span>{{ x.cena || '-' | translate}}</span></p>
										<p class="card-text d-flex justify-content-between mb-2"><b>{{ 'LIST_OF_PRODUCTS_DESCRIPTION_TABLE_HEADER' | translate }}:</b><span><app-byetooltip *ngIf="x.description" [tooltip]="x.description | translate"><i class="fas fa-question-circle text-secondary" style="font-size: 1.5rem;"></i></app-byetooltip></span></p>
										<button class="btn btn-primary btn-block" type="button"  (click)="gotoEditor('product_editor', x.id)">
											<i class="fas fa-pencil-alt"></i>
										</button>
										<bye-button [loading]="loading" className="btn btn-danger btn-block" typeName="button" (OnClick)="remove('LIST_OF_PRODUCTS_REMOVER_QUESTION_0', x.id)" >											<i class="far fa-trash-alt"></i>
										</bye-button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!-- Table version -->

				<div class="card" *ngIf="model.pagination.mode === 'list'">
					<div class="table-responsive">
						<table class="table g-table">
							<thead>
								<tr>
								<th style="width: 200px;" id="th0"></th>
								<th id="th1">
									<div *ngIf="model.pagination['order_by'] != 'product.product_name'" (click)="sort('product.product_name',true);">
										<b>{{ 'LIST_OF_PRODUCTS_PRODUCT_NAME_TABLE_HEADER' | translate }}</b>
										<icon-chevron-down></icon-chevron-down>
									</div>
									<div *ngIf="model.pagination['order_by'] == 'product.product_name'" (click)="sort('product.product_name',!model.pagination.asc);">
										<b>{{ 'LIST_OF_PRODUCTS_PRODUCT_NAME_TABLE_HEADER' | translate }}</b>
										<icon-chevron-up *ngIf="!model.pagination.asc"></icon-chevron-up>
										<icon-chevron-down *ngIf="model.pagination.asc"></icon-chevron-down>
									</div>
								</th>
								<th id="th2">
									<div *ngIf="model.pagination['order_by'] != 'product.cena'" (click)="sort('product.cena',true);">
										<b>{{ 'LIST_OF_PRODUCTS_CENA_TABLE_HEADER' | translate }}</b>
										<icon-chevron-down></icon-chevron-down>
									</div>
									<div *ngIf="model.pagination['order_by'] == 'product.cena'" (click)="sort('product.cena',!model.pagination.asc);">
										<b>{{ 'LIST_OF_PRODUCTS_CENA_TABLE_HEADER' | translate }}</b>
										<icon-chevron-up *ngIf="!model.pagination.asc"></icon-chevron-up>
										<icon-chevron-down *ngIf="model.pagination.asc"></icon-chevron-down>
									</div>
								</th>
								<th id="th3">
									<div *ngIf="model.pagination['order_by'] != 'product.description'" (click)="sort('product.description',true);">
										<b>{{ 'LIST_OF_PRODUCTS_DESCRIPTION_TABLE_HEADER' | translate }}</b>
										<icon-chevron-down></icon-chevron-down>
									</div>
									<div *ngIf="model.pagination['order_by'] == 'product.description'" (click)="sort('product.description',!model.pagination.asc);">
										<b>{{ 'LIST_OF_PRODUCTS_DESCRIPTION_TABLE_HEADER' | translate }}</b>
										<icon-chevron-up *ngIf="!model.pagination.asc"></icon-chevron-up>
										<icon-chevron-down *ngIf="model.pagination.asc"></icon-chevron-down>
									</div>
								</th>
								<th id="th4"></th>
								<th id="th5"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let x of list">

                  <td *ngIf="x.product_photo.length === 0">
                  </td>
                  <td *ngIf="x.product_photo.length === 1">
                    <img class="one-image" [src]="basic.getBaseUrl() + '/product_photo' + x.product_photo[0].file_path + '/original' + x.product_photo[0].extension" alt="Product Photo">
                  </td>
                  <td *ngIf="x.product_photo.length > 1">
                    <app-byegallery [data]="x" table="product_photo" [keepratio]="true" height="50px"></app-byegallery>
                  </td>

									<td>{{ x.product_name | translate}}</td>
									<td>{{ x.cena }}</td>
									<td>{{ x.description | translate | truncate}}</td>
									<td><button class="btn btn-primary" type="button" (click)="gotoEditor('product_editor', x.id)" style="margin-right: 10px;"><i class="fas fa-pencil-alt"></i></button></td>
									<td><button class="btn btn-danger" type="button" (click)="remove('LIST_OF_PRODUCTS_REMOVER_QUESTION_0', x.id)" style="margin-right: 10px;"><i class="far fa-trash-alt"></i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="d-flex justify-content-center mt-4">
					<app-byepagination
						[model]="model"
						[hideWhenOnePage]="false"
						[total_pages]="total_pages"
					></app-byepagination>
				</div>
			</ng-container>

			<!-- When we do not have data describing the list -->
			<ng-template #noDataFound>
				<div class="card card-body text-center">
					<h4 class="h5">{{'SHURIKEN_NO_DATA_FOUND' | translate}}</h4>
				</div>
			</ng-template>
		</div>
	</div>
</main>

