<div class="input-group">
  <input
    class="form-control"
    placeholder="yyyy-mm-dd"
    [(ngModel)]="date_model"
    (ngModelChange)="changed()"
    (click)="focusEmmit()"
    [id]="inputId"
    name="dp"
    ngbDatepicker
    #d="ngbDatepicker"
    readonly
  />
  <div class="input-group-append">
    <button
      class="btn btn-secondary calendar"
      (click)="d.toggle()"
      type="button"
      #calendarBtn
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
      </svg>
    </button>
  </div>
</div>