.switch {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  height: 16px;
  font-size: 0.85rem;
}

.switch span:not(.switch-slider) {
  position: relative;
  top: -3px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.switch .switch-slider {
  position: absolute;
  cursor: pointer;
  width: 42px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #dee2e6;
  transition: 0.4s;
}



.switch .switch-slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  bottom: -4px;
  background-color: #fff;
  transition: 0.4s;


  border-radius: 50%;

  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.switch input:checked + .switch-slider::before {
  -webkit-transform: translateX(20px);

  transform: translateX(20px);
}

.switch input:disabled + .switch-slider {
  background-color: #dee2e6 !important;
}

.switch input:disabled + .switch-slider::before {
  background-color: #dee2e6 !important;
}

.switch-primary input:checked + .switch-slider {
  background-color: #2f47c2;
}

.switch-secondary input:checked + .switch-slider {
  background-color: #52495a;
}

.switch-success input:checked + .switch-slider {
  background-color: #4caf50;
}

.switch-warning input:checked + .switch-slider {
  background-color: #ffc107;
}

.switch-danger input:checked + .switch-slider {
  background-color: #d22346;
}

.switch-light input:checked + .switch-slider {
  background-color: #bbb;
}

.switch-dark input:checked + .switch-slider {
  background-color: #47404f;
}

.switch-default input:checked + .switch-slider {
  background-color: #639;
}
