$calendarColBorderColor: #ddd;
$calendarColBorderDarkColor: #222;

.day_view_calendar {
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
    border-top: 1px solid $calendarColBorderColor;
    background-color: #fafafa;
    transition: all .15s ease-in-out;

    &:nth-child(even) {
      background-color: #f4f4f4;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &:last-child {
      border-bottom: 1px solid $calendarColBorderColor;
    }
  }

  &__header, &__col {
    width: 16.6666%;
    border-left: 1px solid $calendarColBorderColor;

    &:last-child {
      border-right: 1px solid $calendarColBorderColor;
    }
  }

  &__header {
    padding: .25rem;
    font-weight: 700;
    text-align: center;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd !important;
    color: #999 !important;
  }
}

.week_cell {
  width: 100%;
  height: 100%;
  padding: .25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: inherit;
  border: 0;

  &:hover,
  &:focus {
    outline: 0;

    .week_cell__counter > .badge {
      transform: scale(1.3);
    }
  }

  &__counter {
    font-size: .8rem;

    >.badge {
      transition: .2s;
    }
  }

  &__indicators {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
  }

  &__indicator {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    border-radius: 50%;
  }
}


.COLOR_CHEME_DARK {

  .day_view_calendar {
  
    &__row {
      border-top: 1px solid $calendarColBorderDarkColor;
      background-color: #333;
  
      &:nth-child(even) {
        background-color: #444;
      }
  
      &:hover {
        background-color: #555;
      }
  
      &:last-child {
        border-bottom: 1px solid $calendarColBorderDarkColor;
      }
    }
  
    &__header, &__col {
      border-left: 1px solid $calendarColBorderDarkColor;
  
      &:last-child {
        border-right: 1px solid $calendarColBorderDarkColor;
      }
    }
  
    &__header {
      background-color: #222 !important;
      color: #777 !important;
    }
  }
}


@media (min-width: 576px) {

  .week_cell {
  
    &__counter {
      font-size: .9rem;
    }
  }
}

@media (min-width: 992px) {

  .day_view_calendar {
  
    &__header {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .week_cell {
    flex-direction: row;
    align-items: center;
  
    &__counter {
      margin-right: .5rem;
    }
  }
}

@media (min-width: 1200px) {

  .day_view_calendar {
  
    &__header {
      font-size: .9rem;
    }
  }

  .week_cell {
    flex-direction: row;
    align-items: center;
  
    &__counter {
      margin-right: .5rem;
    }
  }
}