<select 
  [(ngModel)]="model[key]" 
  (ngModelChange)="onModelChanged($event);" 
  class="form-control byeselect {{helper[key]?.valid + ' ' + className}}" 
  [ngClass]="{
    'USE_COMPONENT_STYLES': showComponentStyles,
    'WAS_FOCUSED': helper[key]?.wasFocused,
    'LOST_FOCUS': helper[key]?.lostFocus,
    'WAS_CHANGED': helper[key]?.wasChanged,
    'MODEL_WAS_FOCUSED': helper[key]?.modelWasChanged,
    'IS_VALID': helper[key]?.isValid,
    'IS_INVALID': helper[key]?.isInvalid
  }"
  (input)="onInput($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  [disabled]="disable"
>
  <option 
    *ngFor="let item of options" 
    value="{{item.value}}" 
    [attr.selected]="item.value === model[key]"
  >{{('' + item.description) | translate}}</option>
</select>