body {
  color: #70657b;
  // overflow-x: hidden;
}

table th {
  white-space: nowrap;
  font-size: .75rem;
}

table th {
  white-space: nowrap;
  border-top: 0 !important;
}

.table th,
.table td {
  padding: .375rem .5rem;
  text-align: center;
  vertical-align: middle;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.g-table th,
.g-table td {
  padding: .375rem;
  text-align: center;
  vertical-align: middle;

  &:first-child,
  &:last-child {
    padding-left: 1rem;
  }
}

.g-table tr th,
.g-table tr td {

  &:first-child {
    padding-left: 1rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.g-table th {
  padding-top: .5rem;
}

.wrap {
  width: 100%;
}

.auth-layout {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(rgba(17, 28, 36, 0.6), rgba(17, 28, 36, 0.6)), url('https://shuriken.glpsoftware.pl/bg_auth.c0d8321753bfb816.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.auth {
  // max-width: 550px;
  width: 100%;
  height: 100%;

  &__card {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: hidden;
  }

  h1 {
    font-size: 1.15rem;
  }

  &__logo {
    //background-color: #FFF;
    padding: 30px 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &__label {
    color: #aaa !important;
  }

  &__btn {
    font-size: .825rem;
  }

  &__right,
  &__bg {
    //background: url(../../../assets/img/bg1.jpg);
    background-size: cover;
  }

  &__soc-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 80px 15px;
  }
}

.fullscreen_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  transform: translate(0, -150vh);
  transition: .3s;

  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2050;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f24;
    border: 1px solid #f24;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.7rem;
    transition: .15s;
  
    &:hover {
      background: #f03;
      border-color: #f03;
    }
  }
}

.open_map_btn {
  position: fixed;
  z-index: 1999;
  bottom: 25px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookies-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  &__logo {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }
}

@media (min-width: 768px) {

  .auth {
    max-width: 550px;
    margin: auto;
    max-height: 450px;

    &__card {
      min-height: 0;
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.15);
      border: 1px solid #DEDEDE;
      background-color: rgba(87, 87, 87, 0.74);
    }

    &__label {
      color: #fff !important;
    }
  }

  .auth__soc-btns {
    padding: 0;
  }
}

@media (min-width: 992px) {

  .auth {
    min-width: 550px;
  }
}
